<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Shopify Inventory</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
         integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
   <div class="d-flex justify-content-center align-items-center container" style="margin-top: 10%">
      <div>
      <h3>Shopify Inventory Management Application - All Inventories</h3>
      <p>Create an inventory and keep track of items</p>
   </div>
      {% block content %}
      {% endblock %}
   </div>
</body>
</html>