{% extends 'inventory/base.html' %}

{% block content %}
   <div>
      <h3>Shopify Inventory Management Application - Items Deleted from {{ inventory.name }}</h3>
      <div>
       <table class="table">
          <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Price</th>
               <th scope="col">Quantity</th>
               <th scope="col">In stock</th>
               <th scope="col">Sales</th>
                <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for item in inventory_items %}
               <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.in_stock }}</td>
                  <td>{{ item.sales }}</td>
                   <td>{{ item.deletion_comment }}</td>

                  <td>
                     <a class="btn btn-primary" href="{% url 'inventory:undo_deletion' item.id%}">
                        Undo Deletion</a>
                  </td>
               </tr>
            {% endfor %}
          </tbody>
       </table>
    </div>
   </div>
{% endblock %}