{% extends 'inventory/base.html' %}

{% block content %}
   <h2>Delete {{ item.name }} from {{ inventory_name }} inventory</h2>

   <input class="form-control" value="{{ item.name }}" disabled>
   <input class="form-control" value="{{ item.quantity }}" disabled>
   <input class="form-control" value="{{ item.price }}" disabled>
   <input class="form-control" value="{{ item.sales }}" disabled><br>

   <form method="POST" action=#>
     {% csrf_token %}

      <div class="form-group">
         <label for="comment">Comment</label>
         <input type="text" id="comment" name="comment" required placeholder="Enter deletion comment">
      </div>
      <input class="btn btn-primary"   type="submit" value="Delete">
   </form>
{% endblock %}