{% extends 'inventory/base.html' %}
{% block content %}
    <div>
       {% if inventories %}
          <table class="table">
             <thead>
               <tr>
                  <th scope="col">Name</th>
                  <th scope="col">#</th>
               </tr>
             </thead>
             <tbody>
               {% for inventory in inventories %}
                  <tr>
                     <td>{{ inventory.name }}</td>
                     <th scope="row">
                        <a class="btn btn-primary" href="{% url 'inventory:view_inventory' inventory.id%}">View</a>
                     </th>
                  </tr>
               {% endfor %}
             </tbody>
          </table>
         {% else %}
            <p>No inventory available. <a href="{% url 'inventory:add_inventory' %}">Add an Inventory</a></p>
       {% endif %}
       <div>
         <a class="btn btn-primary" href="{% url 'inventory:add_inventory' %}">Add Inventory</a>
       </div>
    </div>
{% endblock %}